#root {
  margin: 0 auto;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.left-container,
.right-container {
  display: flex;
  height: 100vh;
  width: 50vw;
}

/* Left Container */
.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.image-box {
  border: 5px solid #919191;
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-group {
  display: flex;
  gap: 40px;
}

.A-button,
.C-button,
.no-button,
.B-button {
  padding: 25px 50px;
  font-size: 16px;
  cursor: pointer;
}

.A-button:hover{
  background-color: rgb(137, 182, 133);
  transition: 0.5s;
}

.B-button:hover{
  background-color: rgb(120, 175, 228);
  transition: 0.5s;
}

.C-button:hover{
  background-color: rgb(204, 228, 118);
  transition: 0.5s;
}

.no-button:hover{
  background-color: rgb(196, 91, 91);
  transition: 0.5s;
}

.name-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.poop {
  width: 25px;
  height: 25px;
}

.uid{
  height: 25px;
  width: 250px;
}

/* Right Container */
.right-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title-container {
  padding-right: 20px;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #919191;
  height: 50%;
}

.top1-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.color-group {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between color items */
}

.color-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the circle and the name */
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
